body {
    background-color: #EDEDEF;
}

a, div {
    font-family: 微软雅黑;
}

.clear {
    clear: both;
}

.test {
    border: 1px solid red;
}

.header {
    height: 60px;
    width: 100%;
    background-color: #2F353E;
}

.header-content {
    height: 60px;
    width: 1030px;
}

.logo {
    width: 140px;
    height: 55px;
}

.content {
    width: 1030px;
}

.banner {
}

    .banner a {
        width: 77px;
        height: 60px;
        float: left;
        color: white;
        line-height: 60px;
        text-align: center;
        font-size: 15px;
        cursor: pointer;
        text-decoration: none;
    }

        .banner a:hover {
            font-weight: bold;
        }

.search {
    height: 60px;
}

.search-div {
    width: 210px;
    height: 34px;
    background-color: #25282E;
    margin-top: 13px;
    border-radius: 5px;
    padding-top: 5px;
}

.search-input {
    width: 173px;
    height: 25px;
    float: left;
    padding-left: 5px;
    line-height: 25px;
    color: #9A9DA3;
    background-color: #25282E;
    border: 0;
    font-size: 14px;
}

.search-img {
    float: right;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.search-input:focus {
    outline: none;
}

.user-img {
    width: 65px;
    height: 65px;
    margin-top: 12px;
}

.c-img-div {
    width: 85px;
}

.c-img {
    background: transparent url("../Image/c-arrow.png") no-repeat scroll 11px 11px;
    height: 30px;
}

.c-div {
    background: transparent url("../Image/c-arrow.png") repeat-y scroll -1006px 0px;
    width: 565px;
    padding-bottom: 5px;
}

.c-div-b {
    background: transparent url("../Image/c-arrow.png") no-repeat scroll -1641px 0px;
    height: 10px;
    width: 565px;
}

.col-pad-left {
    padding-left: 0px;
    width: 580px;
}

.c-title {
    height: 30px;
    width: 530px;
    margin-left: 35px;
    line-height: 30px;
    padding-left: 10px;
    margin-bottom: 5px;
}

    .c-title a {
        color: #888888;
    }

        .c-title a:hover {
            text-decoration: none;
        }

.c-content {
    width: 545px;
    margin-left: 30px;
}

.u-img {
    width: 170px;
}

.content-a {
    color: black;
    font-size: 14px;
}

    .content-a:hover {
        text-decoration: none;
        color: black;
    }

.c-content-op {
    width: 540px;
    height: 30px;
    margin-left: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.op-word {
    color: #AAAAAA;
    font-size: 12px;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

.op-user {
    float: right;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 12px;
    color: #AAAAAA;
    display: block;
}

    .op-user:hover {
        text-decoration: none;
        color: #7594B3;
    }

.word-p {
    padding-right: 30px;
    padding-left: 30px;
}

.name-div {
    width: 220px;
    margin-top: 12px;
    border: 1px solid #DDDDDD;
}

.name-div-top {
    height: 95px;
    border-bottom: 1px solid #DDDDDD;
}

.name-div-left {
    width: 100px;
    height: 95px;
    float: left;
}

    .name-div-left img {
        width: 75px;
        height: 75px;
        margin-left: 11px;
        margin-top: 10px;
    }

.name-div-right {
    width: 115px;
    height: 95px;
    float: right;
}

.name-div-right-top {
    height: 30px;
    font-size: 14px;
    line-height: 30px;
}

    .name-div-right-top a {
        color: #568BC9;
    }

        .name-div-right-top a:hover {
            text-decoration: none;
        }

.name-div-right-bot {
    height: 60px;
    font-size: 12px;
    color: #71768B;
    padding-right: 5px;
}


.name-div-bot-left {
    width: 80px;
    float: left;
}

.name-div-bot-right {
    width: 135px;
    float: right;
}

.info-div {
    height: 25px;
    font-size: 13px;
    line-height: 25px;
    color: #71768B;
    padding-left: 10px;
    font-family: 宋体;
}

    .info-div a {
        color: #71768B;
        font-size: 13px;
        font-family: 宋体;
    }

        .info-div a:hover {
            text-decoration: none;
        }

        .info-div a span {
            color: red;
            font-family:微软雅黑;
            font-size: 12px;
        }
