<div class="d-title d-left">
    <div class="d-title-acc">@ViewBag.NickName</div>
</div>
<div class="d-title d-left d-banner">
    <div class="d-banner-t"><a href="/Account/Index">个人设置</a></div>
    <div class="d-banner-t"><a href="/Account/UploadImage">修改头像</a></div>
    <div class="d-banner-t"><a href="/Account/ChangePassword">修改密码</a></div>
    <div class="d-banner-t"><a href="">我的积分</a></div>
</div>