
<div class="header">
    <div class="container header-content">
        <div class="row">
            <div class="col-md-2"><img src="/Image/logo.png" class="logo" /></div>
            <div class="col-md-6 banner"><div><a href="/Article/Index">首页</a></div><div><a href="">我的关注</a></div><div><a href="">我的游记</a></div><div><a href="">任务</a></div><div><a href="">帮助</a></div><div><a href="">关于</a></div></div>
            <div class="col-md-4 search">
                <div class="search-div">
                    <input type="text" class="search-input" id="txtSearch">
                    <img src="/Image/search.png" class="search-img" />
                </div>
            </div>
        </div>
    </div>
</div>