body {
    background-color: #333333;
}

a, div {
    font-family: 微软雅黑;
}

.clear {
    clear: both;
}

.clear-col-pad {
    padding: 0;
}

.test {
    border: 1px solid red;
}

.header {
}

.logo {
    width: 220px;
    height: 100px;
    margin: 0 auto;
    margin-top: 90px;
}

.l-info {
    height: 100px;
    font-size: 18px;
    color: #999999;
    text-align: center;
    line-height: 100px;
}

.l-main {
    width: 700px;
    margin: 0 auto;
    padding-left: 150px;
}

.txt-i {
    margin-bottom: 10px;
}

.btn-i {
    width: 210px;
}

.m-img {
    margin-bottom: 10px;
}

.addtion-w {
    text-align: right;
    height: 40px;
    line-height: 40px;
}

    .addtion-w a {
        color: #999999;
        text-decoration: none;
        font-size: 12px;
    }

.bot {
    height: 30px;
}

.bot-div {
    color: #999999;
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
}

.mobile-img {
    float: left;
    width: 200px;
    margin-left: 20px;
}

.verify-code {
    height: 32px;
    width: 85px;
}
